@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #1E68BC;
    background: white;
}

.calculadora-imc {
    width: 60%;
    float: left;
    position: relative;
    margin-top: -70px;
    font-size: 13px;
    color: rgb(30, 104, 188);
    font-weight: 400;
    /* background: black; */
    padding: 30px;
}

.conteudo {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

p {
    width: 50%;
    color: #707070;
}

.inputs {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 0px auto;
}

.altura {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.peso {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.inputs input {
    width: 120px;
    padding: 6px 10px;
    border: 1px solid #1f5eaf;
    border-radius: 10px;
    margin: 0 0 10px 0;
}

button {
    text-align: center;
    border-radius: 20px;
    color:  white;
    padding: 10px;
    margin-top: 10px;
    
}

.calcular {
    background-color: #1F5EAF;
}

.limpar {
    background-color: #FF5203;
}

.imc {
    background: #ff5202;
    color: #fff;
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 20px;
    width: 200px;
    margin: 40px 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    
}

.table-calc {
    width: 100%;
    max-width: 600px;
    
}

.table-calc thead tr td {
    background: #1f5eaf;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.table-calc tbody tr {
    border-bottom: 1px solid #707070;
    background: #fff;
}

.table-calc tbody tr.table-calc-blue td {
    color: #1f5eaf;
}

.table-calc tbody tr td {
    color: #707070;
    padding: 8px 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #dee2e7;
}
